body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0d0d0d;
  color: white;
}
 
/* LOGIN */
.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
 
.login-container {
  background: #181818;
  padding: 40px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
}
 
.login-container input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  background: #222;
  color: white;
}
 
.login-container button {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  background: #00ff88;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}
 
/* DASHBOARD */
.sidebar {
  width: 220px;
  height: 100vh;
  background: #111;
  position: fixed;
  padding: 20px;
}
 
.main {
  margin-left: 240px;
  padding: 30px;
}
 
/* TABLA */
.table-container {
  background: #181818;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
}
 
table {
  width: 100%;
  border-collapse: collapse;
}
 
th {
  text-align: left;
  padding: 12px;
  color: #aaa;
}
 
td {
  padding: 12px;
  border-top: 1px solid #222;
}
 
tr:hover {
  background: #222;
}
 
/* COLORES */
.activo { color: #00ff88; font-weight: bold; }
.inactivo { color: #ff4d4d; font-weight: bold; }
 
.alto { color: #00ff88; font-weight: bold; }
.medio { color: #ffd000; font-weight: bold; }
.bajo { color: #ff4d4d; font-weight: bold; }
